/* Importing Google Font: Open San */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
}

header,
.category-list {
  position: sticky;
  top: 0;
  z-index: 10;
  background: #f0f0f0;
}

.navbar {
  display: flex;
  gap: 2rem;
  align-items: center;
  padding: 0.5rem 1rem;
  justify-content: space-between;
}

.navbar:where(.nav-section, .search-form, .nav-logo) {
  display: flex;
  align-items: center;
}

.navbar .nav-section {
  gap: 1rem;
}

.navbar :where(.logo-image, .user-image) {
  width: 32px;
  cursor: pointer;
  border-radius: 50%;
}

.navbar .nav-button {
  border: none;
  cursor: pointer;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #404040;
  background: none;
}

.navbar .nav-button:hover {
  background-color: #404040;
}

.navbar .nav-button i {
  display: flex;
  font-size: 1.5rem;
  align-items: center;
  justify-content: center;
}

.navbar .nav-logo img {
  display: flex;
  gap: 0.5rem;
  width: 30%;
}

.navbar .nav-logo {
  font-size: 1.25rem;
  color: #000;
  text-decoration: none;
}

.navbar .nav-section {
  display: flex;
  width: 100%;
  justify-content: center;
}

.navbar .search-form {
  max-width: 550px;
  flex: 1;
  height: 40px;
}

.navbar .search-form .search-input {
  width: 100%;
  height: 100%;
  padding: 0 1rem;
  outline: none;
  font-size: 1rem;
  border-radius: 3.1rem 0 0 3.1rem;
  border: 1px solid #d4d4d4;
}

.navbar .search-form .search-button {
  width: auto;
  padding: 0 1.25rem;
  border-radius: 3.1rem 0 0 3.1rem;
  border: 1px solid #d4d4d4;
  border-left: 0;
}
